/* Main block */

.book-main {
  margin: 5%;
}

.book-content {
  height: 320px;
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

img {
  max-height: 320px;
}

.book-information {
  display: flex;
}

.book-about {
  width: 100%;
  padding: 0 3rem;
}

.book-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 30%;
  height: 230px;
  padding: 1rem;
  border: 0.5px dashed grey;
}

.p-price {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

.book-total-price {
  font-weight: 700;
  margin-top: 1rem;
}

.order-form {
  display: flex;
  justify-content: space-between;
}

label[for="quantity"] {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.input-form {
  display: flex;
  border: 0.5px solid #363636;
  border-radius: 0.8rem;
}

input[type="number"] {
  padding: 3px 0;
  text-align: center;
  border: none;
  float: right;
  border-radius: 0.8rem 0 0 0.8rem;
}

input:hover,
input:focus,
input:active {
  outline: none;
  background: #ffffff;
}

.input-buttons {
  padding: 0;
  border-left: 0.5px solid #363636;
  display: flex;
  flex-direction: column;
}

.button-increment,
.button-decrement {
  border: none;
}

.button-increment {
  border-bottom: 0.5px solid #363636;
}

.button-increment {
  border-radius: 0 0.8rem 0 0;
}

.button-decrement {
  border-radius: 0 0 0.8rem 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button-order-submit {
  margin: 0;
  padding: 7px 0;
  border: 0.5px solid grey;
  border-radius: 5px;
  width: 100px;
  align-self: flex-end;
}

span.price {
  float: right;
}

.book-description {
  margin: 10px 25px;
}

.h3-description {
  margin-top: 30px;
}

@media screen and (max-width: 688px) {
  .logo {
    text-align: center;
  }

  .name {
    display: block;
  }
}

@media screen and (max-width: 525px) {
  .logo {
    line-height: 1.8;
  }

  .shopping-block {
    flex-direction: column;
  }

  .shopping-block-two {
    order: -1;
  }

  .button-sign-out {
    margin: 0 1rem;
    padding: 0.4rem 0;
  }
}
